.right__img{
    position: absolute;
    height: 40%;
    width: 50%;
    right: 5%;
    bottom: 
    33%;
}

.btn{
    display: flex;
    flex-direction: row;
    bottom: 230px;
    position: absolute;
    width: 20%;
    justify-content: space-around;
    left: 250px;
}

.btn Button{

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    .container_wavyBack_right img{
      display: none;
      height: -webkit-fill-available;
      position: relative;
      right: 96px;
      }

      .container_wavyBack_right{
        background: white;
        height: 100%;
        width: 50%;
        display: none;
      }

      .right__img{
        display: none;
        position: absolute;
        height: 40%;
        width: 50%;
        right: 5%;
        bottom: 
        33%;
    }

}