.subhero_conatainer {
    height: 100vh;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 2.4fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "subhero_conatainer_content"
      "subimg"; 
  }
  .subimg {
    display: grid; 
    grid-template-columns: 0.4fr 2.2fr 0.4fr; 
    grid-template-rows: 0.4fr 2.2fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". imgarea ."
      "subsvg subsvg subsvg"; 
    grid-area: subimg; 
  }

  .subsvg{
grid-area: svg;
  }
  .imgarea { grid-area: imgarea; }
  .subimg img {
      height: 250px;
      width: 750px;
  }


  .subhero_conatainer_content{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "subhero_title"
      "block"; 
    grid-area: subhero_conatainer_content; 
  }
  .subhero_title {
    display: grid; 
    grid-template-columns: 0.2fr 1.5fr 1.3fr; 
    grid-template-rows: 1fr 1fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". h1 ."
      ". . ."; 
    grid-area: subhero_title; 
    color: #2B2D42;
  }
  h1 { grid-area: h1; }
  .block {
    display: grid; 
    grid-template-columns: 0.2fr 2.4fr 0.4fr; 
    grid-template-rows: 0.6fr 1.6fr 0.6fr; 
    gap: 8px 0px; 
    grid-template-areas: 
      ". . ."
      ". blocktext ."
      ". h3 ."; 
    grid-area: block; 
  }
blockquote{grid-area: blocktext;}
h3{
    grid-area: h3;
}

.subhero_conatainer p{
    text-align:start;


}