.left{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 25%;
    left: 10%;
    
}

.left h1 {
    text-align: center;
    color: #2B2D42;
}

.left p{
    margin: 5px 5px;
    padding: 5px 5px;
}